*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #353535;
  --head-footer-color: #1e1d1d;
  --main-color-dark: #505050;
  --main-color-light: #ed7117;
  --text-color: #CCCCCC;
  --form-control-color: #ed7117;
  --margin-form-text-radio: 0.7em
}

body {
  font-family: "Tahoma", sans-serif;
  overflow-x: hidden;
  background-color: #e4e2f5;
  min-height: 100vh;
  display: flex;
  position: relative;
}